{% extends "base.html" %}
{% block title %}athentication{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary text-light text-center">
                    <h3>احراز هویت</h3>
                </div>
                <div class="card-body">
                    {% if messages %}
                        <div class="mb-3">
                            {% for message in messages %}
                                <div class="alert {% if message.tags == 'success' %}alert-{{ message.tags }}{% else %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.phone_number.id_for_label }}" class="form-label">شماره تلفن</label>
                            {{ form.phone_number }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.credit_card.id_for_label }}" class="form-label">شماره حساب</label>
                            {{ form.credit_card }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">احراز هویت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}