{% extends 'base.html' %}

{% block title %}سیگنال{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'signal' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="symbol" class="form-label">نماد</label>
                                <input type="text" class="form-control" id="symbol" name="symbol" placeholder="نماد ارز را وارد کنید... BTC or ETH">
                            </div>
                            <button type="submit" class="btn btn-primary">دریافت سیگنال</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if signals %}
        <div class="card mb-4  mt-3">
            <div class="card-header d-flex align-items-center justify-content-between">
                <img src="{{ logo_url }}" alt="{{ name }} logo" class="img-thumbnail" style="width: 50px; height: 50px;">
                <h3 class="ms-3">{{ name }} ({{ symbol }})</h3>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row mt-3">
                        <table class="table table-bordered text-center">
                            <thead class="table-secondary">
                                <tr>
                                    <th>اندیکاتور</th>
                                    <th>سیگنال خرید</th>
                                    <th>سیگنال فروش</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for indicator, signal in signals.items %}
                                    <tr class="{% if signal.is_buy %}table-success{% elif signal.is_sell %}table-danger{% endif %}">
                                        <td>{{ indicator }}</td>
                                        <td>{% if signal.is_buy %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                                        <td>{% if signal.is_sell %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}